.top_cities_card {
  background-color: white;
  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
  border-radius: 5px;
  padding: 10px 5px;
}
.top_cities_card_heading {
  font-weight: 600;
  font-size: 15px;
  margin: 0 0 7px 0;
  padding-left: 5px;
  color: #495057;
}
.top_cc_header {
  height: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top_cch_icon {
  font-size: 55px !important;
  color: #556ee6;
  margin-top: 15px;
}
.top_cch_title {
  margin-top: 15px;
  font-size: 20px;
}
.top_cch_subtitle {
  margin-top: 5px;
  font-size: 14px;
  color: rgba(128, 128, 128, 0.815);
}
.top_ccb_item {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 25px 0;
  padding: 0 5%;
  box-sizing: border-box;
}
.top_ccbi_city {
  font-size: 14px;
  color: rgba(128, 128, 128, 0.89);
  width: 32%;
}
.top_ccbi_pb {
  width: 30%;
  margin: 0 5%;
  background-color: rgba(128, 128, 128, 0.151);
  height: 5px;
  border-radius: 5px;
}
.top_ccbi_progress {
  height: 100%;
  border-radius: 5px;
}
.top_ccbi_count {
}
