.activity_card_wrap {
  background-color: white;
  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
  border-radius: 5px;
  padding: 10px 5px;
}
.activity_card_heading {
  font-weight: 600;
  font-size: 15px;
  margin: 0 0 7px 0;
  padding-left: 5px;
  color: #495057;
}
.ac_body_item {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  box-sizing: border-box;
  align-items: flex-start;
  margin: 20px 0;
}
.ac_body_icon1wrap {
  width: 12%;
}
.ac_body_icon2wrap {
  width: 8%;
}
.acbi_date {
  width: 20%;

  color: #242424;
}
.acbi_desc {
  width: 60%;
  color: #495057d2;
  font-size: 13px;
}
.acbi_icon1 {
  font-size: 20px !important;
  color: #495057 !important;
  position: relative;
  top: 3px;
}
.acbi_icon2 {
  font-size: 15px !important;
  color: #157fe9 !important;
  position: relative;
  top: 3px;
}
.activity_card_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 7px;
  border-radius: 4px;
  color: white;
  background-color: #556ee6;
  font-size: 12px;
  width: 110px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  top: 10px;
}
.activity_card_btn:hover {
  background-color: #485ec4;
}
.activity_card_btn_icon {
  width: 2px;
}
.activity_card_footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}
